### Maven ###
target/
.mvn/wrapper/maven-wrapper.jar
.vscode/
### IDEs ###
.idea/
*.iml
*.ipr
*.iws
.project
.classpath
.settings/
### OS ###
.DS_Store
Thumbs.db
### Other ###
.git/
.gitignore
npm-debug.log